.top-ten,
.latest-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;

  .show-more a {
    color: #40b5eb;
    font-size: 13px;
    font-weight: 700;
  }
}
