.crypto-search {
  width: 50%;
  padding: 10px;
  text-align: center;
  position: relative;
  margin: auto;

  .search-icon {
    position: absolute;
    top: 18px;
    left: 18px;
    fill: #bebebe;
  }

  .searchbar {
    width: 100%;
    height: 40px;
    border: 1px solid #bebebe;
    padding: 0 10px 0 50px;
    min-width: 200px;
    &:focus {
      border: 1px solid #798aed;
      outline: none;
    }
  }
}

.cryptos-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: space-between;
}
